*{
    background-color: #F8F9FA;
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

.container{
    padding-left: 150px;
    padding-right: 150px;
    min-width: 800px;
}

