*{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: transparent;
}

body{
    background-color: #F8F9FA;
}

.container{
    width: 1152px;
    min-width: 800px;
    margin: auto;
}

