.header{
  margin-bottom: 40px;
}

.header-top{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: gray;


}

.logo-div{
  opacity: 100%;
}
.zanora-logo{
  width: 150px;
}

.middle-section{
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1025px;
}

.search-bar:focus{
  outline: none;
  border-color: #FF9452;
  box-shadow: 0 0 0 2px rgba(255, 148, 82, 0.2);
}

.search-bar{
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #FF9452;
  border-radius: 50px;
  width: 97.3%;
}

.user-actions{
  margin-left: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.currency{
  color: gray;
  font-weight: 400;
}


.login-img{
  height: 25px;
  margin-right: 6px;
  align-items: center;
  opacity: 45%;
}

.sign-in-button{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.sign-in-text{
  font-weight: 400;
  color: gray;
}

.shopping-cart-img{
  height: 25px;
  margin-right: 6px;
  align-items: center;
  opacity: 65%;
}

.cart-button{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.cart-text{
  font-weight: 400;
  color: gray;
}

.header-bottom{
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.category-dropdown {
  position: relative;
}

.all-categories-btn{
  background-color: #E4E4E4;
  color: black;
  opacity: 80%;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;

  border-radius: 40px;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.all-categories-btn:hover{
  background-color: #cecece;
}

.category-popup{
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  background: white;
  border: 1px solid #FF9452;
  border-radius: 25px;
  color: black;

  white-space: nowrap;
  position: absolute;
  top: 60px;
  left: 0;

  display: none;
  opacity: 0;
  transition: 0.2s;
}

.category-popup a{
  color: black;
}

.category-popup li{
  padding: 15px 20px;
  margin: 5px 0px;
  border-radius: 20px;
  cursor: pointer;
}

.category-popup li:hover{
  background: #FF9452;
  color: white;
}

.category-popup-open{
  display: block;
  opacity: 1;
}

















.navigations{
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.home-a{
  padding: 10px 20px;
}
.home-a:hover{
  background-color: #FF7A1A;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.super-deals-a{
  padding: 10px 20px;
}
.super-deals-a:hover{
  background-color: #FF7A1A;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.shop-a{
  padding: 10px 20px;
}
.shop-a:hover{
  background-color: #FF7A1A;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.about-us-a{
  padding: 10px 20px;
}
.about-us-a:hover{
  background-color: #FF7A1A;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.contact-us-a{
  padding: 10px 20px;
  background-color:#FF7A1A;
  color: white;
  border-radius: 15px;
  margin-left: 20px;
}
.contact-us-a:hover{
  background-color:#ff6200;
}
