
.product-gallery{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.main-image{
  position: relative;
  width: 450px;
}

.main-image img{
  width: 100%;
  border-radius: 38px;
}

.main-image .prev img, .next img{
  width: 50px;
  background-color: transparent;
}

/*
.main-image .prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev{
  left: 10px;
}

.next{
  right: 10px;
} */

.thumbnail-wrapper{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.thumbnail-wrapper .thumb-prev, .thumb-next{
  border:none;
  cursor: pointer;
}

.thumbnail-wrapper .thumb-prev img, .thumb-next img{
  width: 40px;
  background-color: transparent;
}

.product-gallery .thumbnail-wrapper .thumbnails{
  display: flex;
  gap: 10px;
  overflow:hidden;
  max-width:350px;
  scroll-behavior:smooth;
}

.thumbnails::-webkit-scrollbar{
  display: none;
}

.product-gallery .thumbnail-wrapper .thumbnails img{
  width: 60px;
  height: 60px;
  opacity: 0.6;
  border-radius: 10px;
  cursor: pointer;
}

.product-gallery .thumbnail-wrapper .thumbnails .thumb.active{
  opacity: 1;
  border: 3px solid #FF9452;
}