*{
    background-color: #F8F9FA;
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

a{
  text-decoration: none;
}

.container{
    width: 1152px;
    min-width: 800px;
    margin: auto;
}

.inside-container .label {
  font-weight: 400;
  font-size: 18px;
}

.inside-container .type-box {
  height: 45px;
  width: 450px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid gray;
}

.email-box,
.password-box{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.type-box::placeholder{
  font-size: 15px;
}

.type-box{
  font-size: 16px;
}

.password-box a{
  margin-top: -7px;
}

.type-box:focus{
  outline: none;
}

.sign-in{
  border: none;
  background-color: #FF9452;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
}