.hero-section{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.hero-left-side{
  height: 590px;
  width: 662px;
  background-color: #ffe8d9;
  
  border-radius: 45px;
  border: 1px;
  border-color: #FF9452;
  border-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left-side-inside-top{
  width: 584px;
  height: 522px;
  background-color: transparent;
}

.hero-left-side-inside-top h1 {
  font-size: 53px;
  font-weight: 700;
  color: #161515;
  opacity: 100%;
  background-color: transparent;
  line-height: 60px;
  margin-bottom: 17px;
}

.hero-left-side-inside-top p {
  font-size: 17px;
  background-color: transparent;
  color: #777777;
  line-height: 23px;
  margin-bottom: 17px;
}

.hero-left-side-inside-top button {
  font-size: 15px;
  color: white;
  font-weight: 500;
  background-color: #FF9452;
  border: none;
  border-radius: 39px;
  padding: 15px 20px;
}

.hero-left-side-inside-top button:hover {
  background-color: #ff7d2c;
  cursor: pointer;
}

.dis-item{
  margin-top: 45px;
  height: 200px;
  background-color: white;
  border-radius: 26px;
  padding: 0px 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px;
  border-style: solid;
  border-color: rgb(129, 129, 129);
}

.dis-item-left{
  background-color: transparent;
}

.dis-item-left h2{
  font-size: 26px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  background-color: transparent;
  margin-bottom: 5px;
}

.dis-item-left p {
  font-size: 17px;
}

.dis-item-left span {
  color: #FF9452;
  background-color: transparent;
}

.dis-item-right img{
  width: 164px;
  border-radius: 18px;
}

.dis-item-left button {
  font-size: 15px;
  color: white;
  font-weight: 500;
  background-color: #FF9452;
  border: none;
  border-radius: 39px;
  padding: 10px 122px;
}

/*Right side ---------------------------------------------------------------------------*/

.hero-right-side{

  height: 590px;
  width: 466px;
  background-color: #ffe8d9;

  border-radius: 45px;
  border: 1px;
  border-color: #FF9452;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right-side .inner{
  width: 378px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 10px;
  align-items: start;
}

.hero-right-side .inner a{
  background-color: transparent;
}

.hero-right-side .inner img{
  width: 378px;
  border-radius: 25px;
}

.hero-right-side .inner .text{
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: transparent;
}

.hero-right-side .inner .text h3{
  font-size: 19px;
  font-weight: 600;
  background-color: transparent;

  /*Hie if title long more than 2 lines*/
  display: -webkit-box;
  -webkit-line-clamp: 1;      /* max 2 lines only */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero-right-side .inner .text p{
  font-size: 13px;
  font-weight: 400;
  color: gray;
  background-color: transparent;

  /*Hie if title long more than 2 lines*/
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* max 2 lines only */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero-right-side .inner .text img {
  width: 104px;
  background-color: transparent;
}

.hero-right-side .inner .prices{
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
  align-items: center;
  
}

.hero-right-side .inner .prices .dis-price{
  color: #07C730;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;

}

.hero-right-side .inner .prices .original-price{
  font-size: 14px;
  font-weight: 400;
  color: gray;
  background-color: transparent;
  text-decoration: line-through;
}