.scroll-entire-container{
  margin-top: 75px;
}

.super-deals-scrolling-topic{
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

.super-deals-scrolling{
  overflow: hidden;
  height: 550px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 99vw;          /* full viewport width */
  margin-left: calc(50% - 50vw);

  position: relative;
}

/* fade elements */
.fade-left,
.fade-right{
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

/* left fade */
.fade-left{
  left: 0;
  background: linear-gradient(to right, #F8F9FA 0%, transparent 100%);
}

/* right fade */
.fade-right{
  right: 0;
  background: linear-gradient(to left, #F8F9FA 0%, transparent 100%);
}

.infinite-scroll-items{
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: scroll 30s linear infinite;
}

.infinite-scroll-items:hover{
  animation-play-state: paused;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-50%);
  }
}

.item-today-super-deals {
  width: 270px;
  height: 504px;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: #FF9452;
  border-radius: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-today-super-deals .inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  gap: 12px;
}


.item-today-super-deals .inner img{
  width: 232px;
  border-radius: 24px;
  background-color: transparent;
}

.item-today-super-deals .inner .middle{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item-today-super-deals .inner h3{
  font-size: 17px;
  font-weight: 600;
  background-color: transparent;
}

.item-today-super-deals .inner p{
  width: 200px;
  font-size: 10px;
  color: rgb(63, 63, 63);
  background-color: transparent;
}

.item-today-super-deals .rating {
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item-today-super-deals .inner .rating img{
  width: 85px;
  background-color: transparent;
  padding-right: 5px;
}

.item-today-super-deals .inner .rating span{
  font-size: 11px;
  color: rgb(145, 145, 145);
  background-color: transparent;
}



.item-today-super-deals .price-with-dis-price{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  justify-content: start;
}

.item-today-super-deals .price-with-dis-price span{
  font-size: 15px;
  color: #07C730;
  font-weight: 500;
  background-color: transparent;
  padding-right: 10px;
}

.item-today-super-deals .price-with-dis-price .dis-price {
  font-size: 12px;
  color: rgb(112, 112, 112);
  background-color: transparent;

}

.item-today-super-deals .add-to-cart-button {
  background-color: #FF9452;

  border-radius: 28px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 5px;
}

.item-today-super-deals .add-to-cart-button span{
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.item-today-super-deals .add-to-cart-button img{
  width: 25px;
  background-color: transparent;
}

.add-to-cart-button:hover{
  background-color: #ff7d2c;
  cursor: pointer;
}

.item-today-super-deals:hover{
  transform: translateY(-5px);   /* moves up */
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);  /* soft shadow */
}